#nav_menu ul{
    list-style-type:none;
}
#nav_menu ul li{
    float:left;
}
#nav_menu ul li a{
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration:none;
    background-color: blue;
    color: white;
    font-weight:bold;
    border-right: 2px solid white;
}
#nav_menu ul li a.lastitem{
    border-right:none;
}
#nav_menu ul li a.current{
    color: yellow;
}
p::first-letter{
    font-size:x-large;
    font-style:italic;
    font-weight:bold;
}
footer{
    text-align:center;
}
body{
    width:95%;
    margin:15px;
}
article{
    width:75%;
    column-count: 3;
    column-gap: normal;
}
aside{
    width:20%;
    margin-right:0px;
    margin-bottom: 200px;
}
article img{
    float:left;
}
h2{
    font-size:xx-large;
}
html {
    background-image: linear-gradient(to right, orange, white);
}